@media screen and (min-width: 567px) {
    
    p {
        background-color: red;
    }

    .header_fluid .header_fluid_container .tiket {
        height: 450px;
        width: 100rem;
        background-image: url(../img/fondo-naranja-horizontal.png);
    }

}