@media screen and (min-width: 567px) {

    .header_fluid .header_fluid_container .tiket {
        height: 450px;
        width: 100rem;
        background-image: url(../img/fondo-naranja-horizontal.png);

        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    /*       VIDEO EN LA PARTE SUPERIOR DEL TIKET                      */
    .header_fluid .header_fluid_container .tiket .tiket_1 {
        width: 50%;
        height: 90%;
        margin: 0 0 0 15px;
    }
    /*       NUMEROS GRANDES PARA LA FECHA                      */
    .header_fluid .header_fluid_container .tiket .tiket_2 {
        width: 45%;
        height: 90%;
        margin: 0 10px;
    }

    .header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2a h2 {
        font-size: 7rem;
    }

    .header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2b h2 {
        font-size: 6rem;
    }



}