* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #000000d6;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 1.5rem;
}

h1 {
  font-family: "Kanit", sans-serif;
  font-size: 4rem;
}

h2, h3, h4, h5, h6 {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0a192f;
  background-image: url(../img/mapa-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header_fluid {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_fluid .header_fluid_container {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket {
  border: 2px solid rgba(0, 0, 0, 0.367);
  border-radius: 10px;
  background-image: url(../img/fondo-naranja-vertical.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 1px rgba(0, 0, 0, 0.75);
  height: 60rem;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_1 {
  border: 2px solid rgba(0, 0, 0, 0.627);
  border-radius: 8px;
  width: 90%;
  height: 50%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header_fluid .header_fluid_container .tiket .tiket_2 {
  width: 90%;
  height: 43%;
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2a {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2a h2 {
  margin: 0;
  font-size: 4rem;
  font-family: "Anek Malayalam", sans-serif;
  font-weight: bold;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2b {
  width: 100%;
  margin-top: 10px;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2b h2 {
  margin: 0;
  font-size: 3.5rem;
  font-family: "Kanit", sans-serif;
  text-align: start;
  line-height: 2.7rem;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2b #abu_text {
  font-size: 2.8rem;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2c {
  width: 100%;
  margin: 10px 0px;
  line-height: 1.7rem;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2c p {
  font-weight: bold;
  margin: 0;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d {
  border-top: 2px dashed black;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d .tiket_2d_mensaje {
  width: 50px;
  height: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d .tiket_2d_mensaje a {
  width: 100%;
  cursor: pointer;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d .tiket_2d_mensaje a img {
  width: 100%;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d .tiket_2d_codigo {
  width: 110px;
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header_fluid .header_fluid_container .tiket .tiket_2 .tiket_2d .tiket_2d_codigo img {
  width: 100%;
}

/*# sourceMappingURL=movile.css.map */
