@import "variables";

// ----------------------------------------------------
// -----   SENTINGS   ---------------------------------
// ----------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: $color-blanco;
}

p {
    font-family: $fuente-parrafos;
    font-size: 1.5rem;
}

h1 {
    font-family: $fuente-titulos;
    font-size: 4rem;
}

h2, h3, h4, h5, h6 {
    font-family: $fuente-subtitulo;
    font-size: 2.5rem;
}

html {
    font-size: 62.5%;
}

// ----------------------------------------------------
// -----CUERPO DEL PROYECTO----------------------------
// ----------------------------------------------------
body {
    background-color: $color-azul-fondo;
    background-image: url(../img/mapa-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header_fluid {
    // border: 1px dashed cyan;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .header_fluid_container {
        // border: 1px dashed yellow;
        margin: 0;
        padding: 0;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tiket {
            border: 2px solid rgba(0, 0, 0, 0.367);
            border-radius: 10px;
            
            background-image: url(../img/fondo-naranja-vertical.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            ackground-attachment: fixed;

            -webkit-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);

            height: 60rem;
            width: 300px;
        }

    }
}