@import "variables";

// ----------------------------------------------------
// -----   SENTINGS   ---------------------------------
// ----------------------------------------------------

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: $color-negro-transparente;
}

p {
    font-family: $fuente-parrafos;
    font-size: 1.5rem;
}

h1 {
    font-family: $fuente-titulos;
    font-size: 4rem;
}

h2, h3, h4, h5, h6 {
    font-family: $fuente-subtitulo;
    font-size: 2.5rem;
}

html {
    font-size: 62.5%;
}

// ----------------------------------------------------
// -----CUERPO DEL PROYECTO----------------------------
// ----------------------------------------------------
body {
    background-color: $color-azul-fondo;
    background-image: url(../img/mapa-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.header_fluid {
    // border: 1px dashed cyan;
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .header_fluid_container {
        // border: 1px dashed yellow;
        margin: 0;
        padding: 0;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tiket {
            border: 2px solid rgba(0, 0, 0, 0.367);
            border-radius: 10px;
            
            background-image: url(../img/fondo-naranja-vertical.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            background-attachment: fixed;

            -webkit-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 35px 1px rgba(0,0,0,0.75);

            height: 60rem;
            width: 300px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            .tiket_1 {
                border: 2px solid rgba(0, 0, 0, 0.627);
                border-radius: 8px;
                width: 90%;
                height: 50%;
                margin-top: 15px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .tiket_2 {
                // border: 1px dashed black;
                width: 90%;
                height: 43%;
                margin: 10px 0 5px 0;

                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                .tiket_2a {
                    // border: 1px dashed black;
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    h2 {
                        margin: 0;
                        font-size: 4rem;
                        font-family: $fuente-subtitulo;
                        font-weight: bold;
                    }
                }

                .tiket_2b {
                    // border: 1px dashed black;
                    width: 100%;
                    margin-top: 10px;

                    // display: flex;
                    // flex-direction: column;
                    // justify-content: start;
                    // align-items: center;

                    h2 {
                        margin: 0;
                        font-size: 3.5rem;
                        font-family: $fuente-titulos;
                        text-align: start;
                        line-height: 2.7rem;
                    }

                    #abu_text {
                        font-size: 2.8rem;
                    }
                }

                .tiket_2c {
                    // border: 1px dashed black;
                    width: 100%;
                    margin: 10px 0px;
                    line-height: 1.7rem;

                    p {
                        font-weight: bold;
                        margin: 0;
                    }
                }

                .tiket_2d {
                    border-top: 2px dashed black;
                    width: 100%;
                    height: 100%;
                    margin: 0px;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    .tiket_2d_mensaje {
                        // border: 1px dashed rgb(255, 255, 255);
                        width: 50px;
                        height: 90%;
                        margin-top: 10px;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        a {
                            width: 100%;
                            cursor: pointer;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .tiket_2d_codigo {
                        // border: 1px dashed rgb(255, 255, 255);
                        width: 110px;
                        height: 100%;
                        margin-top: 5px;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 100%;
                        }
                    }
                }


            }







        }

    }
}